:root {
	--blur-size: 25px;
	--widget-background-opacity: 15%;
	--widget-shadow-opacity: 10%;
	--suggest-padding: 5px;
	--suggest-radius: 10px;
}

/* Hide the scrollbar by default */
.editor .scrollbar .slider {
	visibility: hidden;
}

/* Show the scrollbar on hover */
.editor .scrollbar:hover .slider {
	visibility: initial;
}

/* Background opacity, blur, shadow, and border radius for editor widgets */
.suggest-widget,
.suggest-details,
.monaco-hover {
	background-color: rgb(from var(--vscode-editorSuggestWidget-background) r g b / var(--widget-background-opacity)) !important;
	backdrop-filter: blur(var(--blur-size)) !important;
	box-shadow: 0 0 8px 2px rgb(from var(--vscode-widget-shadow) r g b / var(--widget-shadow-opacity)) !important;
	border-radius: var(--suggest-radius) !important;
}

/* Padding for suggestions and details */
.suggest-widget,
.suggest-details {
	padding: var(--suggest-padding) !important;
}

/* Keep suggestion results' border radii in proportion to the suggest widget itself */
.suggest-widget .monaco-list-row {
	border-radius: calc(var(--suggest-radius) * 0.4) !important;
}

/* Background opacity and blur for command palette/quick input */
.quick-input-widget {
	background-color: rgb(from var(--vscode-quickInput-background) r g b / var(--widget-background-opacity)) !important;
	backdrop-filter: blur(var(--blur-size)) !important;
}

/* Make command palette/quick input results' backgrounds transparent */
.quick-input-widget .monaco-list-rows {
	background-color: transparent !important;
}

/* Hide the sidebar buttons (create file/folder for explorer, filters/sorting for extensions, etc.) */
.part.sidebar .title-actions {
	display: none !important;
}

/* Remove VS Code icon from the title bar */
.titlebar-left a {
	background-image: none !important;
	/* Uncomment and tweak this if you want custom text/content in your title bar instead of the VS Code icon*/
	/* padding-top: 7px;
	padding-left: 10px;
	width: fit-content !important; */
}

/* Uncomment this if you want custom text in your title bar instead of the VS Code icon */
/* .titlebar-left a::before {
	content: "(⁎˃ᆺ˂)";
} */

/* Uncomment this if your custom text/content doesn't fit */
/* .titlebar-left {
	width: fit-content !important;
} */
