:root {
	--blur-size: 25px;
	--widget-background-opacity: 0.75;
	--widget-shadow-opacity: 0.1;
	--suggest-padding: 5px;
	--suggest-radius: 10px;
}

/* Remove the editor title bar shadow that appears when scrolling */
.monaco-editor .scroll-decoration {
	box-shadow: none !important;
}

/* Hide the scrollbar by default */
.editor .scrollbar .slider {
	visibility: hidden;
}

/* Show the scrollbar on hover */
.editor .scrollbar:hover .slider {
	visibility: initial;
}

/* Background opacity, blur, shadow, and border radius for editor widgets */
.suggest-widget,
.suggest-details,
.monaco-hover {
	background-color: rgb(from var(--vscode-editorSuggestWidget-background) r g b / var(--widget-background-opacity)) !important;
	backdrop-filter: blur(var(--blur-size)) !important;
	box-shadow: 0 0 8px 2px rgb(from var(--vscode-widget-shadow) r g b / var(--widget-shadow-opacity)) !important;
	border-radius: var(--suggest-radius) !important;
}

/* Padding for suggestions and details */
.suggest-widget,
.suggest-details {
	padding: var(--suggest-padding) !important;
}

/* Keep suggestion results' border radii in proportion to the suggest widget itself */
.suggest-widget .monaco-list-row {
	border-radius: calc(var(--suggest-radius) * 0.4) !important;
}

/* Background opacity and blur for notifications and command palette/quick input */
.notification-toast,
.quick-input-widget {
	background-color: rgb(from var(--vscode-quickInput-background) r g b / var(--widget-background-opacity)) !important;
	backdrop-filter: blur(var(--blur-size)) !important;
}

/* Make notification containers' backgrounds transparent to allow for blur effect */
.notification-toast,
.monaco-workbench .notifications-list-container,
.notifications-toasts.visible .monaco-list .monaco-list-rows {
	background-color: transparent !important;
}

/* Make command palette/quick input results' backgrounds transparent */
.quick-input-widget .monaco-list-rows {
	background-color: transparent !important;
}

/* Hide the side bar title by default, show on hover */
.part.sidebar:not(:hover) .composite.title {
	height: 0px !important;
	opacity: 0 !important;
}

/* Give the side bar title a transition so it doesn't just pop in */
.part.sidebar .composite.title {
	transition: all 0.1s ease-in-out !important;
}

/* Hide the sidebar, tab bar, and title bar actions by default */
/* Uncomment this if you want the same behavior for the side bar */
/* .part.sidebar .title-actions, */
.part.titlebar .monaco-action-bar,
.editor-group-container .title-actions {
	opacity: 0 !important;
}

/* Show the sidebar, tab bar, and title bar actions on hover */
/* Uncomment this if you want the same behavior for the side bar */
/* .part.sidebar .title-actions:hover, */
.part.titlebar .monaco-action-bar:hover,
.editor-group-container .title-actions:hover {
	opacity: 1 !important;
}

/* Remove VS Code icon from the title bar */
.titlebar-left a {
	display: none !important;
	/* Uncomment (^ and comment this) and tweak this if you want custom text/content in your title bar instead of the VS Code icon*/
	/* background-image: url("") !important;
    padding-top: 7px;
	padding-left: 10px;
	width: fit-content !important; */
}

/* Uncomment this if you want custom text in your title bar instead of the VS Code icon */
/* .titlebar-left a::before {
	content: "(⁎˃ᆺ˂)";
} */

/* Uncomment this if your custom text/content doesn't fit */
/* .titlebar-left {
	width: fit-content !important;
} */
